<tr> 
    <td class="text-right">{{movie_id}}</td>
    <td class="text-left">{{movie_name}}</td>
    <td class="text-right">{{director_id}}</td>
    <td class="text-left">{{director_name}}</td>
    <td class="text-left">
        <!-- <a id="linkMovieImage"  data-toggle="modal" data-target="#modalMovieImage">View Movie Image</a> -->
        <a id="linkMovieImage"  data-toggle="modal" data-target="#modalMovieImage">View Movie Image</a>
        <div id="modalMovieImage" class="modal fade" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title" id="modalTitleMovieImage"></h4>
                </div>
                <div class="modal-body">
                    <img class="img-responsive" id="imgMovieImage">
                </div>
              </div>
            </div>
          </div>
    </td>
</tr>
